{{ define "main" }}

<section class="showcase">
    <img src="/images/banner2.jpg" alt="Picture">
    <div class="overlay">
        <h2>Our Menu</h2>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4"> Signature Pizzas</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-1.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Margherita Pizza</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <p>Small $12.99 • Medium $15.99 • Large $19.99</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-2.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken Tikka Masala</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <p>Small $12.99 • Medium $15.99 • Large $19.99</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-3.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken BBQ Pizza</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <p>Small $12.99 • Medium $15.99 • Large $19.99</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-4.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Garlic Cheese Pizza</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <p>Small $12.99 • Medium $15.99 • Large $19.99</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-8.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Paneer Tikka Pizza</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <p>Small $12.99 • Medium $15.99 • Large $19.99</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-8.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Pepperoni Lovers</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <p>Small $12.99 • Medium $15.99 • Large $19.99</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-5.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Lamb/Chicken Kebab Pizza</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <p>Small $12.99 • Medium $15.99 • Large $19.99</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-6.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Vegetarian Delight</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <p>Small $12.99 • Medium $15.99 • Large $19.99</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-7.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Hawaiian Pizza</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <p>Small $12.99 • Medium $15.99 • Large $19.99</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-8.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Indian Traditional</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <p>Small $12.99 • Medium $15.99 • Large $19.99</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-8.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Yummy Special Pizza</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <p>Small $12.99 • Medium $15.99 • Large $19.99</p>
                        </div>
                    </div>
                </div>
                <div class="text-center ">
                    <a target="_blank" href="/images/Yummy Halal Grill.pdf" class="ml-2 btn btn-white btn-outline-white">Download All Menu </a>
                </div>

            </div>
        </div>
    </div>
    <!-- ---------------------------- -->
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4"> Signature Platters Over Rice</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/download.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken Over Rice</span></h3>
                            <span class="price">$9.99</span>
                        </div>
                        <div class="d-block">
                            <p>Chicken Gyro</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/20210710-halal-chicken-rice-diana-chistruga-seriouseats-1-a6e13a5ffd844e568d421aec70d8bb55.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Lamb Over Rice</span></h3>
                            <span class="price">$9.99</span>
                        </div>
                        <div class="d-block">
                            <p>Lamb Gyro</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/images.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Crispy Fish Over Rice</span></h3>
                            <span class="price">$9.99</span>
                        </div>
                        <div class="d-block">
                            <p> Fish Gyro</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/Halal-Chicken-Over-Rice16-728x728.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Falafel Over Rice</span></h3>
                            <span class="price">$8.99</span>
                        </div>
                        <div class="d-block">
                            <p>Falafel Gyro</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/download.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken Kebab Over Rice</span></h3>
                            <span class="price"> $9.99</span>
                        </div>
                        <div class="d-block">
                            <p>Kebab Gyro</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/images.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken Tikka Over Rice</span></h3>
                            <span class="price">$9.99</span>
                        </div>
                        <div class="d-block">
                            <p>Tikka Gyro</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------- -->
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4"> Yummy Rolls</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/a6a6f576c31964b54868378ac63a516b.avif);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken Tikka Roll</span></h3>
                            <span class="price">$6.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Chicken Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/download-1.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Lamb Kebab Roll</span></h3>
                            <span class="price">$6.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Lamb Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/hq720.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Crispy Fish Roll</span></h3>
                            <span class="price">$7.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p> Fish Gyro</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/hq720.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Vegetarian Roll</span></h3>
                            <span class="price">$6.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Falafel Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/download-1.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken Kebab Roll</span></h3>
                            <span class="price"> $6.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Kebab Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="text-center ">
                    <a target="_blank" href="/images/Yummy Halal Grill.pdf" class="ml-2 btn btn-white btn-outline-white">Download All Menu </a>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------- -->
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4"> Tacos & Bowls</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/783282f6131ef2258e5bcd87c46aa87e.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Bowl (Any base) </span></h3>
                            <span class="price">$9.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Chicken Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/Tacos.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Crispy Corn Taco (3 pcs)</span></h3>
                            <span class="price">$8.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Lamb Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/Tacos.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Crispy Tortilla Tacos</span></h3>
                            <span class="price">$8.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p> Fish Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/Tacos.webp);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Soft Tortilla Tacos</span></h3>
                            <span class="price">$8.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p> Fish Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/roll1.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Quesadilla </span></h3>
                            <span class="price">$8.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p> Fish Gyro</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/Tacos.webp);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chips with Guac / Nachos</span></h3>
                            <span class="price">$8.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Falafel Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/Tacos.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Loaded Fries w/ Yellow Cheese</span></h3>
                            <span class="price"> $8.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Kebab Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/783282f6131ef2258e5bcd87c46aa87e.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Jerk Chicken Bowl </span></h3>
                            <span class="price"> $9.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Kebab Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/Tacos.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Mexican Chicken Bowl</span></h3>
                            <span class="price"> $9.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Kebab Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/roll.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Vegetarian Bowl </span></h3>
                            <span class="price"> $9.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Kebab Gyro</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------- -->
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4"> Fast Picks</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/c9252e6c6cd289c588c3381bc77b1dfc.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>French Fries</span></h3>
                            <span class="price">$2.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Chicken Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/halal-GettyImages-1175505781.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Onion Rings (6 pcs)</span></h3>
                            <span class="price">$2.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Lamb Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/image_6.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Cheese Bites (6 pcs)</span></h3>
                            <span class="price">$5.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p> Fish Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pasta-3.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken Nuggets (8 pcs)</span></h3>
                            <span class="price">$5.25</span>
                        </div>
                        <div class="d-block">
                            <!-- <p> Fish Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/burger-1.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken Burger </span></h3>
                            <span class="price">$4.50</span>
                        </div>
                        <div class="d-block">
                            <!-- <p> Fish Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/unnamed-5.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Buffalo Wings (6 pcs)</span></h3>
                            <span class="price">$8.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p> Fish Gyro</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/download.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Fish & Chips</span></h3>
                            <span class="price">$7.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Falafel Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/2025-04-12.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken Wings (6 pcs)</span></h3>
                            <span class="price"> $8.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Kebab Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/unnamed.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken Panini</span></h3>
                            <span class="price"> $10.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Kebab Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/burger-2.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken Fillet Burger</span></h3>
                            <span class="price"> $6.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Kebab Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizzpasta-2.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Churros/Desserts</span></h3>
                            <span class="price"> $</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Kebab Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="text-center ">
                    <a target="_blank" href="/images/Yummy Halal Grill.pdf" class="ml-2 btn btn-white btn-outline-white">Download All Menu </a>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------- -->
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4"> Drinks</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/drink-3.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Coke</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Chicken Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/drink-5.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Pepsi</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Lamb Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/drink-2.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Canada Dry</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <!-- <p> Fish Gyro</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/drink-4.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Red Bull</span></h3>
                            <span class="price">$</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Falafel Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/drink-8.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Mango Lassi </span></h3>
                            <span class="price"> $</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Kebab Gyro</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/drink-9.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Bubble Tea</span></h3>
                            <span class="price"> $</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Kebab Gyro</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------- -->
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4"> Combo Meals</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-1.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Pizza Slice Combo</span></h3>
                            <span class="price">$7.99</span>
                        </div>
                        <div class="d-block">
                            <p>1 slice pizza + 4 nuggets + fries + drink</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/pizza-2.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Large Pizza Combo</span></h3>
                            <span class="price"> $39.99</span>
                        </div>
                        <div class="d-block">
                            <p>2 large pizzas + 6 buffalo wings + fries + drink</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/783282f6131ef2258e5bcd87c46aa87e.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Chicken Burger Combo </span></h3>
                            <span class="price">$6.49</span>
                        </div>
                        <div class="d-block">
                            <p>Chicken burger + 4 nuggets + drink</p>
                        </div>
                    </div>
                </div>
                <div class="text-center ">
                    <a target="_blank" href="/images/Yummy Halal Grill.pdf" class="ml-2 btn btn-white btn-outline-white">Download All Menu </a>
                </div>
            </div>

        </div>
    </div>
    <!-- -------------------------- -->
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4"> Fried Chicken Deals</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/2025-04-12.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>3pc Chicken + Fries</span></h3>
                            <span class="price">$4.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>1 slice pizza + 4 nuggets + fries + drink</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/unnamed-5.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>8pc Chicken + Fries + Can Soda</span></h3>
                            <span class="price"> $12.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>2 large pizzas + 6 buffalo wings + fries + drink</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/images11.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>12pc Chicken + Fries + Can Soda</span></h3>
                            <span class="price"> $19.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Chicken burger + 4 nuggets + drink</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/images11.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>16pc Chicken + Fries + Can Soda</span></h3>
                            <span class="price"> $24.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Chicken burger + 4 nuggets + drink</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/images12.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>2pc Buffalo Wings + Fries + Can Soda</span></h3>
                            <span class="price"> $7.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Chicken burger + 4 nuggets + drink</p> -->
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/images/images13.jpeg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>6pc Buffalo Wings + 3pc Nuggets + Fries</span></h3>
                            <span class="price"> $10.99</span>
                        </div>
                        <div class="d-block">
                            <!-- <p>Chicken burger + 4 nuggets + drink</p> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{{ end }}